import /vendor/etc/init/hw/init.mtkgki.rc

#INTERNAL_START
on early-init
#	write /sys/module/musb_hdrc/parameters/musb_force_on 1
#	write /sys/class/udc/musb-hdrc/device/cmode 3

on post-fs

    chmod 0660 /dev/spm
    chown system system /dev/spm


service spm_script /vendor/bin/spm_loader
    user system
    group system
    oneshot
#INTERNAL_END

